.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
.logo{
    width: 80px;
}
.navitems > ul {
    display: flex;
    list-style-type: none;
    font-size: 15px;

}
.navitems > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px ;
}
.res-card {
    padding: 10px;
    height: 300px;
    width: 200px;
    background-color: #f0f0f0;
}
.search{
   padding: 10px;
}
.res-logo{
    width: 100%;
    height: 45%;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
}